.donateButton {
    background-color: #f46600;
}

.navbar {
    background-color: white;
    border: none;
    border-radius: 0;
    min-height: 40px;
}
.navbar-nav>li a{
    padding: 10px 15px;
}
.navbar-default a, .navbar-default .navbar-nav>li a:focus, .dropdown-menu>.active>a {
    color: #777;
    background-color: white;
}

.navbar-default .navbar-nav>li a:hover, .dropdown-menu>.active>a:hover {
    color: #00ba5d;
    background-color: white;
}

.socialMedia {
    position: relative;
    display: block;
    padding: 0 5px;
}

.socialMedia > a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
}

@media (min-width: 768px) {
    .socialMedia {
        float: left;
    }
    .navbar, .dropdown-menu {
        background-color: white;
        z-index: 1;
        border: none;
    }
    .navbar-default .navbar-nav>li a, .navbar-default a, .navbar-default .navbar-nav>li a:focus {
        color: #777;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
        background-color: transparent;
        color: #00ba5d;
    }
    
}