@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Lato:700,900|Alex+Brush');

body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

h1, h2, h3, label {
  text-transform: capitalize;
  font-family: 'Open-Sans', sans-serif;
}

h4 {
  /*text-indent: 20px;*/
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: black;
  line-height: 150%;
  margin-top: 0;
  font-size: 1em;
}

h1 {
  font-weight: 700;
  color: black;
  text-align: center;
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}

p {
  /*text-indent: 20px;*/
  text-align: left;
  font-family: 'Open-Sans', sans-serif;
  color: black;
}
a {
  color: #00ba5d;
}
a:hover {
  color: #00ba5d;
  text-decoration: underline;
}

.routeLink {
  color: #00ba5d;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

hr {
  border-color: #e8e8e8;
  margin: 5px 0;
}

.center-top-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
}

.center-top-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.center-top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.space-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.grey-bg {
    background-color: #F5F3F3;    
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;  
  }
  .addMargin {
    margin-top: 35px;
  }
}
