.needSponsorButton {
  position: absolute;
  top: -10px;
  right: -5px;
}
.needSponsorButton, .needSponsorButton2 {
  background-color: #ff6100;
  border: 1px solid #ff6100;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #3d3d3d
}

.needSponsorButton2{ 
  margin-top: 10px;
  max-height: 100%;
  max-width: 100%;
}

.needSponsorButton > a {
  color: white;
  padding: 5px 10px;
  display: inline-block;
}
.needSponsorButton2 > div > p {
  font-size: 0.8em;
  color: white;
}

.needSponsorButton:hover {
  background-color: white; 
  border-color: #ff6100;
}
.needSponsorButton > a:hover {
  text-decoration: none;
  color: #ff6100;
  cursor: pointer;
}
.needSponsorButton2:hover, .needSponsorButton2:visited {
  background-color: #ff6100; 
  border-color: #ff6100;
  color: white;
}

@media (min-width: 768px) {
  .needSponsorButton2 > div > p {
    font-size: 1em;
  }
}