.modal-dialog {
    margin-top: 15%;
}

.thankyou h2{
    font-family: 'Alex Brush', cursive;
    text-align: center;
    font-size: 3em;
}

.thankyou .modal-body, .thankyou .modal-footer {
    padding: 15px 30px;
    background-color: #ebffea;
}

.thankyou .modal-footer {
    border-top: none;
}

.panel-title {
    text-align: center;
}

.panel-heading > h4 {
    text-indent: 0;
}

@media (min-width: 768px) {
  .thankyou .modal-sm {
      width: 400px;
  }
}