.pic {
	width: 80%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


blockquote {
	font-size: 14px;
	font-style: italic;
	width: 100%;
	margin: 0.25em 0;
	padding: 0.25em 5px 0.25em 20px;
	line-height: 1.45;
	position: relative;
	border-left: none;
	color: #777;
} 

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 60px;
	position: absolute;
	left: -10px;
	top: -20px;
	color: #777;
}

blockquote h4 {
	font-size: 14px;
	display: block;
	margin-top: 5px;
	font-style: normal;
	color: #00ba5d;
	margin-bottom: 5px;
}
 
blockquote h4:before {
	content: "\2014 \2009";
}

.container-cols {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #EEEEEE;
}