.pic {
	width: 80%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.BLV {
	color: rgb(0, 186, 93);
}

blockquote {
	font-size: 18px;
	font-style: italic;
	width: 100%;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
} 

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #00ba5d;
}

blockquote cite {
	font-size: 14px;
	display: block;
	margin-top: 5px;
}
 
blockquote cite:before {
	content: "\2014 \2009";
}

.container-cols {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #EEEEEE;
}