.booksLibrary .cover-container {
	height: inherit;
}
.booksLibrary .cover-title{
	bottom: 0;
	padding-bottom: 5vw;
}
.booksLibrary .cover-container h1 {
	margin: 0;
	font-size: 4vw;
}
.booksLibrary .implementLibrary, .booksLibrary .monitorLibrary {
	display: flex;
	flex-direction: column;
}
.booksLibrary .implementLibrary .col:nth-child(1) {
		background: url('../images/education1.jpg');
		background-size: cover;
		height: 60vw;
	}
.booksLibrary .monitorLibrary .col:nth-child(2) {
	background: url('../images/education1B.jpg');
		background-size: cover;
		height: 60vw;
}
.booksLibrary .implementLibrary .col:nth-child(2),
.booksLibrary .monitorLibrary .col:nth-child(1){
	padding: 0 15px 20px;
}
.booksLibrary h1,
.booksLibrary .implementLibrary p,
.booksLibrary .monitorLibrary p{
	color: white;
	text-align: center;
}
.testimony .heading{
	width: 100vw;
	background-color: #EC5900;
	border: 2px solid white;
	display: inline-block;
	padding-bottom: 10px;
}
.testimony .quote {
	padding-top: 20px;
}
.testimony .well {
	border-radius: 0;
	border: 1px solid black;
}
blockquote {
	font-size: 14px;
	font-style: italic;
	width: 100%;
	margin: 0.25em 0;
	padding: 0.25em 5px 0.25em 20px;
	line-height: 1.45;
	position: relative;
	border-left: none;
} 

blockquote:before {
	display: block;
	font-style: normal;
	content: "\201C";
	font-size: 60px;
	position: absolute;
	left: -10px;
	top: -20px;
}

blockquote p {
	display: block;
	margin-top: 10px;
	font-style: normal;
}
 
blockquote p:before {
	content: "\2014 \2009";
}
.special {
	display: flex;
	flex-direction: column;
}
.schoolPic {
	background: url('../images/education1C.jpg') no-repeat;
	background-size: cover;
	height: 50vw;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.booksLibrary .implementLibrary, .booksLibrary .monitorLibrary {
		flex-direction: row;
		width: 100vw;
	}
	.booksLibrary .implementLibrary .col:nth-child(2),
	.booksLibrary .monitorLibrary .col:nth-child(1) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 5vw 20px;
	}
	.booksLibrary .implementLibrary .col:nth-child(1),
	.booksLibrary .implementLibrary .col:nth-child(2),
	.booksLibrary .monitorLibrary .col:nth-child(1),
	.booksLibrary .monitorLibrary .col:nth-child(2){
		width: 50vw;
		height: 60vw;
	}
	.booksLibrary .implementLibrary .col:nth-child(1),
	.booksLibrary .monitorLibrary .col:nth-child(2){
		background-position: right;
	}
}
@media (min-width: 1024px) {
	.booksLibrary p {
		line-height: 28px
	}
	.booksLibrary .implementLibrary .col:nth-child(1),
	.booksLibrary .implementLibrary .col:nth-child(2),
	.booksLibrary .monitorLibrary .col:nth-child(1),
	.booksLibrary .monitorLibrary .col:nth-child(2){
		height: 40vw;
	}
	.special {
		flex-direction: row;
	}
	.schoolPic { 
		height: 40vh;
		margin-right: 3%;
		width: 40%;
	}
	.special blockquote {
		width: 60%;
	}
}