#applyVisa a {
    font-size: 12px ;
}

.tab-content {
    padding: 5% 5%;
    border: 1px solid #ddd;
    border-top: none;
}

@media (min-width: 768px) {
  #applyVisa ul {
      width: 80%;
  }
  .tab-content {
    width: 80%;
    padding: 3% 3%;
  }
}