.carousel, .carousel-inner, .item {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.carousel-indicators {
    display: none;
}
.carousel-caption {
    height: 100%;
    width: 100%;
    bottom: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}
.carousel-caption > span, .TFB-slide > .carousel-caption > div  {
    background-color: rgba(0,0,0,0.6);
    position: relative;
    text-transform: capitalize;
    padding: 5px 10px;
    text-shadow: none;
}

.TFB-slide > .carousel-caption > div > span, .TFB-slide > .carousel-caption > div > div > button {
    margin-right: 10px;
    padding: 1px 8px;
}
.TFB-slide > .carousel-caption > div > div > button > a {
    font-size: 10px;
}


@media (min-width: 320px) {
}
@media (min-width: 768px) {
    .carousel {
        top: -40px;
    }
    .carousel, .carousel-inner, .item  {
        min-height: 400px;
    }
    .carousel-inner>.item>img{
        position: relative;
        bottom: 70px;
    }
    .carousel-inner>.item:nth-child(3)>img{
        bottom: 30px;
    }
    .carousel-caption > span, .TFB-slide > .carousel-caption > div {
        background-color: transparent;
        height:100%;
        width: 100%;
        font-size: 3.2em;
        opacity: 0.9;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        padding: 21% 10%;
        color: white;
        text-shadow:
           2px 2px 0 black,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    }
     .carousel-control.right, .carousel-control.left {
        width: 5%;
        background-image: none;
        text-shadow:
           2px 2px 0 black,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    }
    .carousel-inner>.item:nth-child(4) > .carousel-caption>span {
        padding-top: 7%;
    }
    
    .TFB-slide > .carousel-caption > div {
        width: 100%;
    }
    .TFB-slide > .carousel-caption > div > div > button {
        background-color: #00ba5d;
    }
    .TFB-slide > .carousel-caption > div > div > button > a {
        color: white;
    }
    .TFB-slide > .carousel-caption > div > div > button > a {
        font-size: 1em;
    }
    .TFB-slide > .carousel-caption > div > div > button {
    padding: 6px 12px;
}
}
@media (min-width: 1024px) {
    .carousel, .carousel-inner, .item  {
        min-height: 550px;
    }
}
@media (min-width: 1440px) {
    .carousel, .carousel-inner, .item  {
        min-height: 750px;
    }
    .carousel-inner>.item>img{
        bottom: 150px;
    }
}
